/* ==========================================================================
   Modules
   ========================================================================== */
.blockquote {
  border: none;
  padding: 0;

  font-size: 1.6rem;

  color: #333;
}

.blockquote__footer {
  margin: 1rem 0 0;
}

.stage {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;

  background: url( "../images/stage.jpg" ) center center no-repeat;
  background-size: cover;
  color: #FFF;
}

.stage__caption {
  max-width: 60rem;
  margin: 0 auto;

  font-size: 1.4rem;
  font-weight: 200;

  text-align: center;

  h1 {
    color: #FFF;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.feature {
  &--dark {
    background: #262F36;
    color: #FFF;

    h2 {
      color: #FFF;
    }
  }

  &--light {
    background: #F0F0F0;
  }

  &--full {
    img {
      margin-top: 2rem;
    }
  }
}

.feature__text-block {
  padding: 2rem 0;
}

.feature__content {
  padding: 8rem 0;
  overflow: hidden;

  img {
    margin-bottom: -10rem;
  }
}

#feature-four {
  .feature__content, .feature__text-block {
    padding: 0;
  }
}

.main-footer {
  background: #262f36;
  color: #FFF;
  padding: 6rem 0;
  font-size: 0.8rem;

  a {
    color: #6C6F73;
  }

  h6 {
    color: #718FA9;
  }
}



@media screen and ( min-width: 991px ) {
  .feature__content {
    display: flex;
    align-items: center;
  }
}
